.header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.left-header {
  flex-basis: 50%;
}

.right-header {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.timer {
  font-size: 30px;
}
