.header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0 20px;
}

.title,
.find {
  font-size: 24px;
  font-weight: bold;
}

.find {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
}

.find img {
  height: 50%; /* take up half of the height of the container */
  object-fit: contain; /* fit the image inside the container */
}

.timer {
  font-size: 18px;
}

.leaderboard {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
