.krillin {
  position: absolute;
  height: 60px;
  width: 38px;
  left: 575px; /* use pixel value instead of percentage */
  top: 100px; /* use pixel value instead of percentage */
}

.beavis{
  position: absolute;
  height: 60px;
  width: 38px;
  left: 215px; /* use pixel value instead of percentage */
  top: 440px; /* use pixel value instead of percentage */
}
.elmo{
  position: absolute;
  height: 30px;
  width: 30px;
  left: 557px; /* use pixel value instead of percentage */
  top: 645px; /* use pixel value instead of percentage */
}
